[2021-09-06 21:18] draeron opened #1 "arm64 release"
First: congrats on releasing a first version.

Anyway plan in releasing a ARM64 version of the images?

Don't know what your using as CI but there many option to easily build multiple targets with Github actions and goreleaser.

[2021-09-07 15:07] draeron commented on #1
I created a fork with a auto build / github actions if you are interested in seeing how to do it. I haven't been able to create signed releases but still, it's quite an easy setup to do.

https://github.com/draeron/synology-csi

[2021-09-10 15:31] chihyuwu commented on #1
@draeron Thank you for your feedback. I'll update the ARM/ARM64 version images soon.
And we'll introduce these auto build tools in the future.

[2021-09-10 15:57] draeron commented on #1
I have yet succeeded in running the csi on my raspberry pi cluster but I haven't really investigated why (the plugins container doesn't print any output).

If I find something more concrete I'll open up an issue with concrete details. One thing I've seen is that the manifest provided in this repo use quay.io images for k8s csi containers but they've been moved to google gcr.io (k8s.gcr.io/sig-stor

[2021-09-13 06:16] travisghansen commented on #1
If you need something immediately I recently added support for synology in my project here which supports arm: https://github.com/democratic-csi/democratic-csi

Glad to see another project for synology as it helps to see code and have other options available.

[2021-09-13 07:54] cristicalin opened #2 "Please add support for kubernetes 1.22"
Kubernetes 1.22 dropped the v1beta1 API for `VolumeAttachment` and moved it to stable. As a result the `csi-attacher` container throws the following logs:

[code]

Please update the CSI attacher code to make it compatible with the latest versions of Kubernetes.

[2021-09-13 21:37] toasterlint commented on #2
@cristicalin could you try this fork and see if this works?

https://github.com/toasterlint/synology-csi

If it does I can do a pull request to this repository.  I'm running 1.21.4 at the moment, so not sure if it'll take care of your issues for 1.22.

[2021-09-13 22:16] toasterlint commented on #1
I was looking through your code, and while goreleaser is fairly new to me, based on the documentation I'm seeing and what you have in the Dockerfile.goreleaser file I'm not sure where the `synology-csi` file you are attempting to copy into the container is coming from:
https://github.com/draeron/synology-csi/blob/87980fbe729b60d0a6507976e5b9265c26befa29/Dockerfile.goreleaser#L17

I don't see anywh

[2021-09-13 22:28] draeron commented on #1
goreleaser break Dockerfile encapsulation by building binaries outside docker, in the case of my fork, the compilation occurs during a github action. Compilation is done simply by calling `go build`. Having a makefile somewhat an anti pattern to goreleaser since it's supposed to be tool independant from the OS (ex: it doesn't make to be installed).

For each possibilities defined in the `builds` s

[2021-09-13 22:40] toasterlint commented on #1
@draeron Awesome, thanks for the explanation!  If the build system isn't running alpine (based on what I'm seeing in your workflow it's using ubuntu) that could be a potential issue since the end-result docker container still is.  Alpine is using `musl` vs most other distros using `glibc`.  If `actions/setup-go@v2` really is just running `go build` without specifying to statically link and/or sett

[2021-09-13 22:47] draeron commented on #1
Indeed but cgo is disabled in the env section so it wouldn't compile if there was a reference to libc.

[2021-09-13 22:47] toasterlint commented on #1
@draeron doh, disregard, I'm seeing that in the .goreleaser.yml file now...like I said, it's new to me!  However, the Ubuntu build image vs the Alpine run image may still be a factor.

[2021-09-13 22:52] toasterlint commented on #1
I did have working versions of the plugin's container yesterday without using goreleaser and just updating the Makefile, but was having issues with the latest CSI-(Attacher|Resizer|etc) images from gcr not working, so abandoned it.  I'm running a mixed amd64 and arm64 cluster thus my interest :)

[2021-09-14 05:51] cristicalin commented on #2
@toasterlint I toyed with the code here a bit yesterday as well with a bit more extensive changes than yours, see https://github.com/cristicalin/synology-csi/tree/kube1.22

It's not clear to me if this project accepts pull requests, though my fork is not really meant to be merged back, at least not in it's current state, I would be happy to offer some review points on yours if you open one.

[2021-09-14 10:39] toasterlint commented on #1
I see there is now an arm specific image out on Docker Hub...too bad it isn't a multi-arch image as specifying different image tags is problematic in a multi-arch cluster.

[2021-09-14 14:30] draeron commented on #1
I modified my projet to use the project original makefile / Dockerfile. It works on my raspberry pi cluster.

![image](https://user-images.githubusercontent.com/2256246/133276820-c3cff1c6-7147-42d7-afdc-06ba75352354.png)

[2021-09-14 15:00] toasterlint commented on #1
I noticed you didn’t specify any of the ldflags as a part of the goreleaser, that might be it.

I also figured out my issue as well.  My primary system is Windows based and when docker build was importing the chroot.sh file it was copying it into the container with the Windows line endings…another reason to switch back to Linux, lol.

[2021-09-15 13:09] chihyuwu commented on #1
I've updated a multi-arch image with the same tag on Docker Hub (and removed the one with the suffix -arm). Hope it can work in your multi-arch cluster.

[2021-09-30 13:19] elct9620 opened #3 "Unable to login which get 402"
Hi, all

I had to try an admin account or create a new account but the controller always returns the "Failed to login" error.
Does any know more information to set up CSI?

[2021-10-01 05:52] chihyuwu commented on #3
Hi, Could you provide the detail logs from CSI? And what's your DSM version?

[2021-10-03 12:57] elct9620 commented on #3
The DSM version:
`DSM 7.0.1-42218`

The logs from CSI controller:

[code]

[2021-10-03 21:45] phihos opened #4 "Volume directoy on host quickly disappears after mount"
Hi,

the volume on my DiskStation (2x 920+ in HA) is provisioned correctly and attached as block device (/dev/sdd in my case) on the host system. But it is expected to be mounted in `/var/snap/microk8s/common/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-d1e722ba-35e7-4222-a797-1e66eb40c755/globalmount` which does not exists. Only `/var/snap/microk8s/common/var/lib/kubelet/plugins/kubernetes.io

[2021-10-04 03:30] chihyuwu commented on #3
It seems like you have enabled 2-Factor Authentication for your accounts, but the Synology CSI doesn't support 2FA for now. So when the CSI tried to log in to DSM with these accounts, it got the "403" error.

You can create a new account in the admin group, and specifically disable 2FA for it (Control Panel > Security > Account > 2-Factor Authentication).

[2021-10-04 04:10] elct9620 commented on #3
@chihyuwu I had tried to create another account without 2FA but I got 402 instead of 403 error.

[2021-10-04 06:37] chihyuwu commented on #3
402 could be caused by several reasons, so we need more info for investigation.
1. Are there any error logs in `/var/log/auth.log` on the DSM? (use SSH login to DSM and check)
2. Update the version of API and build the synocli tool, which can help to reproduce API:
a. `cd synology-csi`
b. edit pkg/dsm/webapi/dsmwebapi.go, changing the version from 3 to 6 https://github.com/SynologyOpenSource/synol

[2021-10-04 07:40] elct9620 commented on #3
@chihyuwu I found some error which is new account for CSI `/var/log/auth.log`

[code]

I am not sure the `expired password for user k8s` is related to change the password or not, but after I change it the CSI still get 402 error.

[2021-10-04 09:12] chihyuwu commented on #3
Yes, `expired password for user k8s` means you have to change the password after you created it.

Try to sign out of admin account, use "k8s" itself as username to login DSM and change the password, instead of changing it by admin.
After following the guide to change the password, make sure the status of user "k8s" turned from "Password change required" to "Normal". (Control Panel > User & Group >

[2021-10-04 09:16] elct9620 commented on #3
@chihyuwu After fixed the expired password, I still get errors and cannot create any persistent volume.

[2021-10-04 11:33] chihyuwu commented on #4
Hi,

Actually, this directory  `/var/snap/microk8s/common/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-d1e722ba-35e7-4222-a797-1e66eb40c755/globalmount` never appears during NodeStageVolume. It's weird because this directory should be created by kubernetes before the CSI going to do NodeStageVolume.

Before format and mount, the CSI would check if staging_target_path was mount or not, but in y

[2021-10-05 03:33] chihyuwu commented on #3
Hi,
1. Did you reinstalled the CSI?
2. Could you provide the error logs from CSI?

[2021-10-05 03:44] elct9620 commented on #3
Yeah, I always create a new K8S cluster via K0S and install a new CSI on it.
The errors are the same as I provided, the only difference is the status code.

I will create a new one and test it again and provided the logs.

[2021-10-09 07:57] elct9620 commented on #3
@chihyuwu

I find the error is caused by my security config to force enable 2FA for all admin users.
After I disable it the PVC is correctly created.

[2021-10-09 07:57] #3 closed

[2021-10-09 08:07] elct9620 opened #5 "The iSCSi remove policy"
After success creates a PVC and generates an iSCSI in my NAS.
I try to remove the PVC but the iSCSI was not removed after PVC removal succeeded.

Does there have any rules to remove iSCSI or do I have to remove it manually?

[2021-10-12 13:23] elct9620 commented on #5
Ok, thanks

[2021-10-16 12:01] sarahhodne opened #6 "Migrating from jparklab/synology-csi"
I've been using [jparklab/synology-csi](https://github.com/jparklab/synology-csi) up until recently, but after an upgrade to DSM 7, that stopped working and I'm unable to mount my volumes anymore (entirely my fault for not checking that before upgrading 😅 ).

I'm wondering if there's any way to get the csi.san.synology.com CSI plugin to mount the volumes that were provisioned by that other plugin?

[2021-10-16 15:05] #6 closed

[2021-10-17 15:02] christian-schlichtherle opened #7 "Cannot control ownership and permissions for mounted volumes"
First of all, thank you so much for this driver - it's a great start!

After updating images and cluster roles, I have the CSI working to the point that volumes are automatically created, attached and mounted in containers. But for some reason, the ownership and permissions are not exactly the same as they are when I was manually creating a PersistentVolume (though I did not specify anything to co

[2021-10-17 17:58] cjbottaro opened #8 "Helm Chart"
Can we get a Helm chart? Helm seems to be the defacto way to deploy things in Kubernetes these days.

[2021-10-18 00:44] #7 closed

[2021-11-01 13:08] michaelpietzsch opened #10 "Error when Attaching Volume"
I am gettin this error when attaching a volume

`I1101 13:06:26.838634       1 reflector.go:188] Listing and watching *v1beta1.VolumeAttachment from k8s.io/client-go/informers/factory.go:135
E1101 13:06:26.848581       1 reflector.go:156] k8s.io/client-go/informers/factory.go:135: Failed to list *v1beta1.VolumeAttachment: the server could not find the requested resource`

does anybodody have an id

[2021-11-01 23:06] #10 closed

[2021-11-10 11:06] #1 closed

[2021-11-17 06:46] tuananh commented on #8
@mkilchhofer glad to see you here :)

[2021-11-17 22:53] mkasprzyk opened #11 "Unable to get this plugin working in microk8s"
[code]

[code]

[2021-11-17 23:44] mkasprzyk commented on #11
Fixed with following change:
[code]

Now I've got:
[code]

So probably the same issue like: https://github.com/SynologyOpenSource/synology-csi/issues/4

[2021-11-17 23:53] mkasprzyk commented on #11
What I also spotted:
[code]

Disk is visible in system (`fdisk -l`):
[code]

[2021-12-05 17:51] kalle83 opened #13 "User permission for csi"
Hi all,

is there a way to use the synology-csi without an admin account/permission, with reduced permission?
It does not feel good that an admin account/service user with username/password is available in the kubernetes cluster and and potentially usable by others.

[2021-12-10 07:00] chihyuwu commented on #13
Hi @kalle83,
We understand your concern. However, DSM allows only user accounts within the administrators group to have access to the SAN Manager package and to use related APIs. So, you can only use synology-csi with accounts with the admin privileges.

[2021-12-13 20:45] johnnyplaydrums opened #14 "Compatibility with Nomad"
Hello! I was wondering if synology-csi works with [Nomad](https://www.nomadproject.io/)? At first glance it would appear there is only support for Kubernetes, but I just wanted to double check. Thank you

[2021-12-15 08:01] kalle83 commented on #13
@chihyuwu thank you for your response. That is a pity but at least it is possible to reduce the permission for an admin account and prohibit the login to DSM and other services.

[2021-12-15 08:01] #13 closed

[2021-12-19 12:49] ressu commented on #14
considering that Nomad supports standard CSI interfaces and claims that the Kubernetes CSI plugins work out of the box, Idon

[2021-12-19 12:50] ressu commented on #14
considering that Nomad supports standard CSI interfaces and claims that the Kubernetes CSI plugins work out of the box, I don't see any reason why it wouldn't work. The bigger question is how to configure the plugin to work as intended.

[2021-12-19 12:58] ressu commented on #11
you are missing the volumemount from the csi-plugin container. This is my strategic merge patch for microk8s

[code]

note the volumeMounts on csi-plugin container

[2021-12-20 18:21] johnnyplaydrums commented on #14
Hi @ressu, thank you for the response. I agree that the varies documentation claims that synology-csi _should_ work with Nomad, but I'm not sure if that is true or not. Have you heard of anyone successfully using synology-csi with Nomad? I'd love to learn from their experience. When I tried to deploy this synology-csi container into Nomad, I got the error:
[code]

As you can see that's pointing to

[2021-12-20 22:22] ressu commented on #14
unfortunately I don't know how Nomad invokes the CSI daemons, which would give me a better idea on how to solve this. The path for the csi socket can be overridden with a flag `-e` or `--endpoint` as seen here https://github.com/SynologyOpenSource/synology-csi/blob/dc05a795b79b911ec5882c3c837a7779cf3576a8/main.go#L98

many of the default features are mainly handled by the generic csi containers, s

[2021-12-21 21:47] johnnyplaydrums commented on #14
Awesome, that's super helpful @ressu! I'll close this for now. If anyone else has advice on properly configuring this plugin to work with Nomad, please reach out :)

[2021-12-31 23:07] cafsenra opened #16 "standard_init_linux.go:228: exec user process caused: exec format error"
I have installed csi synology driver but I am getting this error: "standard_init_linux.go:228: exec user process caused: exec format error"
All pods in csi-synology namespace are crashing :( with that message. Can anyone assist me? I am running a cluster k3s kubernetes on 6 raspberry pi v4 with ubuntu installed.

[2022-01-05 21:26] johnnyplaydrums commented on #14
Hey @ressu, another question for you. I was able to make some progress and get the synology-csi plugin running in Nomad by setting `--endpoint=unix:///csi/csi.sock`. I've registered the Synology volume and was trying to deploy a job using that volume when I got the follow error:

[code]

It's unable to find the volume on our Synology DSM: `Volume[1] is not found`. I also tried registering the volu

[2022-01-05 21:39] ressu commented on #14
I checked my logs and it seems that the `volume_id` is the UUID of the volume:

[code]

I think the DSM in context is also required so that the CSI knows which DSM to contact, but I'm not certain.

[2022-01-05 22:19] johnnyplaydrums commented on #14
Thanks @ressu. Apologies for my ignorance but how would I find the UUID of the LUN?

[2022-01-05 22:21] ressu commented on #14
Oh, right! It's not immediately visible. I think I found the UUID by inspecting the source code in the admin UI. I had to dig around there when I migrated my old volumes. The normal volume creation automation in Kubernetes will figure it automatically for the volumes created by the CSI. But for externally created volumes the pain of searching the HTML in admin console was real :(

[2022-01-05 22:31] johnnyplaydrums commented on #14
Oh boy that is a bit hacky. Ok I'll look around. Do you remember what part of the UI you were able to find it in>

[2022-01-05 22:43] ressu commented on #14
Yeah, It's very hacky. I preferred the third party CSI mechanism over this one, but you use what you can :smile:

The way you can find the UUID of the volume is in SAN Manager. If you list the LUNs there and look at the source code, the `itemid` attribute will list the UUID of each volume. It's a bit of a pain to list the volumes though since the UI tries to refresh the HTML all the time. So depen

[2022-01-05 23:07] johnnyplaydrums commented on #14
Awesome! I was able to find the UUID via the `itemid` in the source code on the SAN manager page. I hadn't yet created a LUN, so I first did that, and then grabbed the UUID. I am still getting the same error `Volume[763336ca-0f20-4fcf-8e8d-3406168c60fc] is not found` but I'm wondering if it's related to your other comment above:

The volume prefix - is that something I configure on the DSM side or

[2022-01-05 23:11] ressu commented on #14
The prefix goes into the LUN name. I think you also need to create an iSCSI host with the same prefix. Mine are in the form of `k8s-csi-<kubernetes volume name>`. So the suffix in the name doesn't matter as long as it starts with `k8s-csi`.

[2022-01-06 06:32] chihyuwu commented on #14
The synology-csi only looks for LUNs with the prefix "k8s-csi". Try to change the LUN name from "LUN-1" to "**k8s-csi**-LUN-1".

[2022-01-06 19:40] johnnyplaydrums commented on #14
Sweet, thanks to both of you! synology-csi was able to successfully find the volume after using the UUID and creating a LUN and iSCSI host with the name `k8s-csi-LUN-1`. Now on to the next error which is:

[code]

The `chroot.sh` script is indicating that `/host` directory needs to be available into the container, is that right? Can you elaborate on what's needed here?
https://github.com/SynologyO

[2022-01-06 21:02] johnnyplaydrums commented on #14
fwiw I tried `exec`-ing into the running synology-csi containers and `mkdir /host` just to see if making that directory available helped, but synology-csi now says
[code]

[2022-01-06 21:07] ressu commented on #14
The `/host` directory is a bind mount of the filesystem from the node (machine which is doing the mounting)

Relevant Kubernetes configurations are
https://github.com/SynologyOpenSource/synology-csi/blob/dc05a795b79b911ec5882c3c837a7779cf3576a8/deploy/kubernetes/v1.19/node.yml#L112-L113
and
https://github.com/SynologyOpenSource/synology-csi/blob/dc05a795b79b911ec5882c3c837a7779cf3576a8/deploy/kube

[2022-01-06 21:14] johnnyplaydrums commented on #14
Ok makes sense, I need to make a Nomad client config change to make that root filesystem from the host available, so I will work on that and then try deploying the job again. My instinct makes me nervous to mount the entire host filesystem inside the container. Would you mind describing why is this needed?

Thanks again @ressu for helping here! I'm hoping that all this information and troubleshoot

[2022-01-06 21:19] ressu commented on #14
Trust me, you're not alone with this one. I wanted to work around the mount in other CSIs, but couldn't find a reliable way :laughing:

As far as I understand, the host mount allows the CSI to act as the host system while the container sandbox is in place. It's a cheap trick used quite often to reduce complexity of the code whenever there are too many dependencies to the host system. I've seen the

[2022-01-06 23:39] johnnyplaydrums commented on #14
I need to take a pause on this synology-csi <> Nomad work and will hopefully come back to it at a later date. For now I will close out this issue since all my open questions have been answered. I'll reopen this issue if/when I come back to it and new questions arise. If anyone finds this issue in the future and wants to know how my nomad job.hcl, volume.hcl, and related configuration ended up, ple

[2022-01-06 23:39] #14 closed

[2022-01-16 21:21] UmanGarbag opened #18 "Issue when using synology-csi (mers/factory.go:135 2022-01-16T22:09:13.211693168+01:00 csi-attacher E0116 21:09:13.211663 1 reflector.go:156] k8s.io/client-go/informers/factory.go:135: Failed to list *v1beta1.VolumeAttachment: the server could not find the requested resource)"
Hello, i'm trying using the synology-csi driver for my kubernetes cluster and i ran with this problem.

My Nas DSM version is 7.0, but my k8s cluster version is v1.22.4.

Do you think it's because of the version of my cluster ?

Thanks

[2022-01-17 10:20] johanvandeweerd commented on #16
The error message you get indicates that the container image you are running has a different architecture than what your hardware is running (x86 vs arm).
In you case the container images are only for x86 and your raspberry pi's have an ARM64 architecture (I had the same problem).

I forked this repository and changed the image to also support ARM, installed it and it worked like a charm.

You can

[2022-01-17 10:35] johanvandeweerd commented on #18
I had the same issue and upgraded `csi-attacher` to use a different image: [longhornio/csi-attacher:v3.2.1](https://hub.docker.com/layers/longhornio/csi-attacher/v3.2.1/images/sha256-721fce8988b24df52dddc639589cf9df4dd0899246b715040e8f93b3b55d90f4).

After that the error went away but got a new error:
[code]

I added the following rule to the `synology-csi-controller-role` clusterrole rules and ev

[2022-01-17 12:01] UmanGarbag commented on #18
Thanks i will try this !

I keep you updated

[2022-01-17 22:04] UmanGarbag commented on #18
Ok it's seems to works , I no longer have the error from the beginning. But now the driver can't find location of my share in my nas synology.

![image](https://user-images.githubusercontent.com/57763989/149841634-9e63d524-32fa-49ee-a170-b3c3c085d7bc.png)

In my NAS I have the /volume2/srv share with no specific permissions anyone in this subnet can access.

![image](https://user-images.githubuser

[2022-01-17 22:22] UmanGarbag commented on #18
Ok without specify the location it's works.

That weird

![image](https://user-images.githubusercontent.com/57763989/149843162-d03aca29-8fc9-427d-ad3a-cd841ba3f299.png)

[2022-01-18 09:39] mabunixda commented on #14
The creation of a storage does work, but there is still some problem with the access mode within nomad:
[code]

my current configuration for the nomad csi plugin job is like this
[code]
and the volume definition for the `nomad volume create` is like
[code]

[2022-01-18 11:58] mabunixda opened #20 "nomad volume creation works, but not useable"
The creation of a storage does work, but there is still some problem with the access mode within nomad:
[code]

my current configuration for the nomad csi plugin job is like this
[code]
and the volume definition for the `nomad volume create` is like
[code]

_Originally posted by @mabunixda in https://github.com/SynologyOpenSource/synology-csi/issues/14#issuecomment-1015232999_

[2022-01-18 12:22] cafsenra commented on #16
Great news! I see that you used longhorn images! I am surprised that it works 😊! I will give a try on the weekend! Thank you for sharing your experience 😉! Best regards!

[2022-01-18 13:56] johanvandeweerd commented on #18
Just in case, you test it by applying following manifest:

[code]

Afterwards do a port forward and you are able to curl/surf to the pod.
[code]

[2022-01-18 16:12] johnnyplaydrums commented on #14
Hi @mabunixda, I think I ran into a similar issue. I used the `nomad volume register` command instead of `create`. I got this error even when I had the `access_mode` defined within the `capability`, as you do: `Error registering volume: Unexpected response code: 500 (rpc error: validation: missing access mode, missing attachment mode)`.

Interestingly, when I moved the `access_mode` and `attachmen

[2022-01-18 16:13] johnnyplaydrums commented on #20
I shared a response to this in the other issue. Hope it's helpful: https://github.com/SynologyOpenSource/synology-csi/issues/14#issuecomment-1015568068

[2022-01-18 16:26] mabunixda commented on #14
@johnnyplaydrums yes the create actually creates a volume on my synology - but it does not get usable on nomad ..

[2022-01-18 16:27] johnnyplaydrums commented on #14
@mabunixda does putting `access_mode` and `attachment_mode` outside the `capability` solve that issue for you?

[2022-01-18 16:28] mabunixda commented on #14
no because that is not a valid syntax for nomad > 1.1.0

[2022-01-18 16:29] johnnyplaydrums commented on #14
Ah I see ☹️

[2022-01-18 21:02] UmanGarbag commented on #18
Ok thanks you Johan ! It Works !!

Is it possible to make a pull request with your changes in the repo https://github.com/democratic-csi/democratic-csi ?

[2022-01-21 18:46] cafsenra commented on #16
I have checked the solution provided by @johanvandeweerd and it works. Great job! I will close this issue as it is solved for now. Also I have made a fork and use the same logic from @johanvandeweerd to enable snapshots. Please feel free to check that on my repo: https://github.com/cafsenra/synology-csi/tree/arm64/release-v1.0.0 (branch arm64/release-v1.0.0). Once again credits to @johanvandeweerd

[2022-01-21 18:46] #16 closed

[2022-01-22 11:09] johanvandeweerd commented on #18
Not sure what you want me to put in a PR for the democratic-csi repo?

[2022-01-23 16:36] christian-schlichtherle commented on #8
At long last, I've done it myself: https://github.com/christian-schlichtherle/synology-csi-chart .

Thinking forward, I suggest removing the K8s resource manifests from this repository. The manifests in this repo are hopelessly outdated plus a Helm chart provides many benefits. For example, it can automatically detect if the `VolumeSnapshotClass` CRD is installed in the cluster and only then deplo

[2022-01-23 18:32] kingdonb commented on #2
Thank you for putting the work in! I was able to use your `kube1.22` branch @cristicalin with minimal alteration to add the Synology CSI to my Kubeadm cluster for my home lab, it was very difficult to configure correctly, but I feel like it would have been much less difficult if I had noticed that the `scripts/deploy.sh` still carries the 1.19 branch by default!

Once I corrected that, and undid s

[2022-01-24 13:29] kingdonb commented on #1
I noticed it looks like the Makefile does not include any settings for building a multi-arch image and wanted to make sure it was documented for future contributors.

To get a multi-arch image, I needed to run:

[code]
to prepare my local docker host with the required emulators for the target architectures,

[code]
to ensure the default docker driver for building isn't used (as it doesn't support

[2022-01-27 01:50] tyzbit opened #21 "Feature - Populate LUN Description field with the name of the PersistentVolumeClaim"
It would be awesome if the LUN Description field was populated by the name of the PersistentVolumeClaim that it was created from. It would be in the form of '[namespace]-[PVC name]' because PVCs are namespaced objects.

[2022-01-27 05:26] tyzbit opened #22 "Fills up the LUN when first provisioning"
When first provisioning, the CSI driver fills up the LUN, which takes some time. Because of this, I experienced filesystem errors on a mounted device and lost data.

<img width="1250" alt="image" src="https://user-images.githubusercontent.com/3319104/151297231-d6969af6-9242-4b6e-90ac-6d06a4a0dddf.png">

[2022-01-31 19:59] newbenji commented on #2
i cant make it work
it seems to me the provisioner is not getting triggered. but the resizer does but do nothing. since there is no pv to resize yet :-D

[2022-02-01 14:43] newbenji opened #23 "Failed to map target"
I got most of it to work
i can see the lun and the iscsi gets created, even if the logs from controller say it gave error.
But it cant map the the 2 together,
and if i try with through the web interface myself from that lun i get
lun [xxxx] is not available due to load fail

If i create a lun with same name and map it to the iscsi myself it seem i can get it to create a pv in the cluster and bound

[2022-02-02 07:19] taveraluis commented on #14
Hello everyone, I am quite interested on this thread and will be hitting this wall soon (Have not setup nomad on this new setup), I hope we can make this work together at some point :)

[2022-02-03 09:18] newbenji commented on #23
Difference on made through the storage class
and through web interface

The type is type ADV Where its type file made manuel

[code]

[2022-02-03 09:32] newbenji commented on #23
got it to work now with some added parameters.
maybe change the default for type or add to documentation

[code]

works with this storageclass

[code]

[2022-02-03 09:33] newbenji commented on #23
note the parameter type thin is manual added now

[2022-02-03 09:50] newbenji commented on #23
well the create and mount works now
will test resize and delete later

[2022-02-04 14:50] AndrewCooper commented on #14
I started working on this also. I took a route of following the [Stateful Workloads](https://learn.hashicorp.com/tutorials/nomad/stateful-workloads-csi-volumes) tutorial and copying what made sense from the synology-csi configs. [My Fork](https://github.com/AndrewCooper/synology-csi.git), nomad stuff is in deploy/nomad/v1.2.5

I've been able to get a controller and node going. Both appear to be ru

[2022-02-06 11:02] jeanfabrice opened #25 "btrfs vs ext4 PVC provisioning delay"
Hi team,

Using these StorageClass definitions:
[code]

and
[code]

It takes nearly 2m for a `pod-ext4` Debian pod to start with a 50Gb ext4 PVC:
[code]
<img width="1228" alt="image" src="https://user-images.githubusercontent.com/2949987/152677547-3cbe7dae-3c55-47e0-9049-bfd103f919b4.png">

While it takes only 12s for a `pod-btrfs` Debian pod to start with a 50Gb btrfs PVC:
[code]
<img width="1228

[2022-02-15 03:24] Kirkland-gh opened #26 "What are the proper steps to update"
Could you add the proper steps to update to the README? I just ran the installer again and ended up with a few errors.

[code]

[2022-02-15 07:32] chihyuwu commented on #26
For now, the steps are just to uninstall and reinstall the csi driver.
1. make sure `config/client-info.yml` is configured
2. `./scripts/uninstall.sh`
3. `./scripts/deploy.sh install --all`

We're working on developing a more graceful method right now and will publish it once available.

[2022-02-15 19:23] christian-schlichtherle opened #27 "Please don't use `imagePullPolicy: Always`"
See https://github.com/SynologyOpenSource/synology-csi/blob/515bc7f0ed52002f2babdbdbf6b2e5cfa6b0af14/deploy/kubernetes/v1.19/controller.yml#L153 and quite some other places.

Please do not use `Always` for tags representing stable versions like `1.0.1` in this case. While `Always` is very convenient for you to use during development, it may create unreproducible builds downstream if you ever pushe

[2022-02-16 07:32] #27 closed

[2022-02-16 18:39] christian-schlichtherle commented on #2
Looks like this has been resolved with release 1.0.1 - please try again.

On another note, you may find my [Helm chart](https://github.com/christian-schlichtherle/synology-csi-chart) useful (shameless self-plug ;-). I used it successfully with 1.22.* and 1.23.*.

[2022-02-17 23:09] scyto opened #28 "FEATURE: docker swarm compatibility"
Once this is stable with k8s (i get where priorities lie) it would be great if this was also an installable swarm driver (no swarm is not dead).

Hope you can consider this.

[2022-02-20 15:42] vaskozl commented on #25
I've just tested this with the v1.0.1 and the latest upstream CSI images and the LUNs created with a storage class featuring `fsType: btrfs` do appear full to me.

I haven't noticed ext4 volumes taking any significant time to provision myself.

Any reason to chose ext4 vs btrfs for the fsType, given that the LUNs are already on top of btrfs?

[2022-02-24 10:29] chihyuwu commented on #25
Hi @jeanfabrice,
This is an expected behavior **depends on the given filesystem** discards blocks (TRIM) at mkfs time or not. If the filesystem performs whole device TRIM operation, the LUN will look full.

The synology-csi nodeserver runs `mkfs.<fsType>` without any extended-options, so its behavior depends on the default settings of the filesystem.
- For `ext4`, it will attempt to discard blocks

[2022-02-24 12:43] vaskozl opened #29 "Support enabling FUA and Sync Cache SCSI commands"
https://www.synology.com/en-uk/releaseNote/ScsiTarget

This option is disabled for LUNs created by the CSI driver.

As I understand these commands decrease the likeliness of corruption and we should be able to enable them.

[2022-02-24 12:52] vaskozl commented on #25
Thanks for investigating. Is there an advantage to using `discard` for LUNs? I would expect not, if so should we not expose setting nodiscard?

[2022-02-27 17:41] jeanfabrice commented on #25
Thanks for the informations @chihyuwu!
I'll stick to `ext4` for now, not sure how useful `btrfs` can be.

[2022-03-01 03:36] travisghansen commented on #28
I have a pure csi implementation that works with synology available here if you’re interested: https://github.com/democratic-csi/democratic-csi

[2022-03-01 03:43] travisghansen commented on #14
This driver implements csi but does so with k8s-isms as you have discovered. I have a pure csi based driver that works with synology (and nomad) available here: https://github.com/democratic-csi/democratic-csi

[2022-03-01 03:50] travisghansen commented on #25
I ran into this developing my (synology compatible) driver here: https://github.com/democratic-csi/democratic-csi

In my case I allow tweaking the formatting parameters by the operator so this particular issue can be avoided.

https://github.com/democratic-csi/democratic-csi/blob/master/examples/node-common.yaml

[2022-03-01 03:58] travisghansen commented on #29
At my project over here the create api methods are fully templatable so assuming those properties can be set via the api at creation time you could control them: https://github.com/democratic-csi/democratic-csi/blob/master/examples/synology-iscsi.yaml

[2022-03-02 04:12] cjbottaro commented on #8
Thanks for making this! We just tried it and it works great... :) My colleagues and I now have a true "staging" environment that's pretty much exactly the same as AWS!

Why hide the Helm commands behind a Makefile though? Helm is pretty ubiquitous when working with Kubernetes; people should know how to use it.

Again, thank you so much for this, and yes, this should be merged into this repo and th

[2022-03-11 13:31] dcardellino commented on #22
@tyzbit
I had a similar issue. I resolved it using the thin provision parameter:

[code]

[2022-03-12 01:58] tyzbit commented on #22
@dcardellino That worked great, the space used is now accurate. I suggest this option be added as a default parameter to the StorageClass.

[2022-03-15 13:17] tyzbit commented on #22
@chihyuwu Thanks for that info, I tried `BLUN` and `ADV` and both created thin LUNs and the space started filling up like before, so I suspect there will continue to be issues. I also noticed `ADV` cannot be snapshotted.

[2022-03-16 05:41] chihyuwu commented on #22
@tyzbit Filling up LUNs is an expected behavior and it won't corrupt your filesystem, https://github.com/SynologyOpenSource/synology-csi/issues/25#issuecomment-1049710748 .

There may be some other reasons for it. Can you give more details or maybe a screenshot?

[2022-03-17 23:37] tyzbit commented on #22
I created a PVC with the `type` field blank in the `StorageClass` and filled it with data using a `Job`. Then when I tried to remount it, I get these errors:

[code]

[2022-03-28 06:53] Golgautier commented on #11
Hi,

Fix provided by @ressu works well for me.

[2022-03-30 05:09] lvikstro opened #30 "Support for securityContext for pods"
Installing the prometheus operator helm chart with defaults (https://prometheus-community.github.io/helm-charts, kube-prometheus-stack) is by default setting this for the prometheus instance:

securityContext:
      runAsGroup: 2000
      runAsNonRoot: true
      runAsUser: 1000
      fsGroup: 2000

This makes the "prometheus-kube-prometheus-stack-prometheus-0" pod go into a crash-loop with the er

[2022-04-03 15:32] worldofgeese opened #31 "LUNs succesfully create but fail to mount"
I am able to successfully connect with my client config. Deploying the driver is successful. But using the StorageClass results in the following errors:
[code]

Here's an image showing the LUNs successfully created on the NAS-side:
![image](https://user-images.githubusercontent.com/59834693/161435403-83c15b07-e136-4345-9a6f-323f740aee3c.png)

[2022-04-03 19:10] worldofgeese commented on #31
Don't waste developer hours on this: I figured it out but it's late here so I will post the solution tomorrow in case other users of OpenShift run into the same issue.

[2022-04-03 19:10] #31 closed

[2022-04-12 13:01] Golgautier opened #32 "Mount issue in multinodes cluster"
Hello,

I have a 3 nodes cluster. Create a new pvc and attach it to a pod works perfectly.
When this pod moves to another node, I encounter an issue with iSCSI login failure.

Pod describe message is :
[code]

If I change my iSCSI config for this LUN under DSM,  by allowing sharing between multiple initiators, it works well, but :
- I am not sure it is the best way to proceed
- I have to do it man

[2022-04-16 06:12] ahein88 opened #33 "Limit of 10 Volumes"
The Synology NAS has a limit of 10 Targets, which can be created. The CSI Driver creates every time a new Volume is created, a pair of LUN/Target, thus only 10 Volumes can be created. For use cases, where the NAS should be used as storage provider for the whole Cluster, this is number is far to small.

In theory the maximum number of volumes can be 320, because every Target can handle 32 LUNs. So

[2022-04-28 08:36] vaskozl opened #34 "Upgrading to 1.1.0 breaks existing storageclasses with `RPC error: rpc error: code = InvalidArgument desc = Unknown protocol`"
Since upgrading to 1.1.0 mounting no longer works. The daemonset csi-plugin logs:

[code]

I tried adding `protocol: iscsi` to my storage classes but kubernetes forbids me on the ground that parameters can't be edited after storage class creation.

I expect the csi-plugin to default to ISCSI and to be backwards compatible.

[2022-04-29 02:59] chihyuwu commented on #34
Hi @vaskozl
Thank you for letting us know! We'll fix it soon.

[2022-04-29 06:08] #34 closed

[2022-04-30 14:28] macgregor opened #35 "[Security Enhancement] Dont require a user with admin rights"
Appreciate the work enabling Synology on Kubernetes. Its definitely much nicer than using NFS subdirectories, with one glaring exception.

As far as I know, we have to use a user with administrator rights to synology. This means if the kubernetes credentials are compromised, the entire synology server is compromised. This is pretty much a non-starter for business unless they can afford to dedicate

[2022-05-02 12:45] kingdonb commented on #33
I have only lightly used the synology-csi on a few different K8s versions, well enough to know that it works, but not in anger so I am only aware of this limitation because you posted it.

This is a pretty serious limit, and I wonder what kind of limits you could have the other way – if it's removed, and the limit is 320, how will the synology perform when it is serving 320 concurrent customers in

[2022-05-24 20:40] jhueppauff commented on #4
Did you get this working? I am facing the same issue with microk8s.

[2022-05-27 23:43] inductor commented on #30
@lvikstro I get the following error even when I speficy runAsUser 0. Are you sure it works? 🤔

[code]

[code]

[2022-06-01 09:01] chihyuwu commented on #4
Hi!
Try to change the value of the kubelet-dir mountPath from `/var/lib/kubelet` to `/var/snap/microk8s/common/var/lib/kubelet`, and reinstall the csi driver again (./scripts/uninstall.sh; ./scripts/deploy.sh install -b).
https://github.com/SynologyOpenSource/synology-csi/blob/fc3359223fe51a13bcfa5a7cabbf59611bbeb901/deploy/kubernetes/v1.20/node.yml#L103-L106

We're still working on providing an e

[2022-06-01 09:13] schoeppi5 commented on #30
Hi there @lvikstro,
I ran into the exact same problem (and I mean down to the error message same). I am using a Kubernetes 1.21 with the newest release of the driver.

The security context does work, since this is not the responsibility of the driver, but Kubernetes, **but** in order for it to work, I had to configure some things:

1. This apparently does not work with btrfs
2. fsType in the stora

[2022-06-06 07:05] chihyuwu commented on #8
Thank you all for helping on this!
We're really interested in @christian-schlichtherle 's [helm chart](https://github.com/christian-schlichtherle/synology-csi-chart) and would very much like to merge it into our synology-csi. We're hoping that you could make a pull request so that we can put it under `deploy/helm`, if it's okay with you of course.

[2022-06-09 03:04] inductor commented on #30
@schoeppi5

Hello.

[code]

This is my SC spec but still doesn't work for me .-. anything in your mind?

[2022-06-11 10:43] inductor opened #36 "Prometheus metrics support?"
Hello,

I’m using this CSI driver in my environment but I wonder if it supports Prometheus metrics endpoint so that I can scrape PVC and storage usage on Prometheus and grafana dashboard.

[2022-06-11 19:33] jhueppauff commented on #4
This is my working node.yml file:

`---
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: synology-csi-node
  namespace: synology-csi
spec:
  selector:
    matchLabels:
      app: synology-csi-node
  template:
    metadata:
      labels:
        app: synology-csi-node
    spec:
      serviceAccount: csi-node-sa
      hostNetwork: true
      containers:
        - name: csi-driver-registrar

[2022-06-14 09:47] chihyuwu commented on #20
Hi @mabunixda,
There's no problem with your _volume_ configuration. (That means, putting `access_mode` and `attachment_mode` inside the `capability` is the correct way for the latest Nomad.)
It's an expected behavior that the access mode of a volume shows `<none>` before any job claimed it or after all jobs released it.

And for your _csi plugin_ job configuration, I made the following changes:
1.

[2022-06-17 07:50] 0hlov3 opened #37 "The iSCSi remove policy"
Hi there,

In relation to  #5 The iSCSi remove policy.

If I set the Storage class to `Retain`, then the PVs should be retained, when I delete a PVC.
But if I delete them with a `kubectl delete pv`, they are not removed from the Synology.

Do I have to add any rules to remove the iSCSI-Drives or do I have to remove them manually?

[2022-06-19 12:19] kingdonb commented on #37
As I understand `Retain` strategy, it means that no garbage collection is done when CSI primitives are deleted from the cluster. The idea being that so long as the underlying storage remains intact, a new cluster with similar storage configuration can attach the same CSI PVs (by volumename or by label?) and regain access to the retained data in that way.

I use this approach for temporary or ephem

[2022-06-20 19:54] jjdiazgarcia opened #38 "Error creating volume using SMB protocol"
Hello,

Thanks for all your work. This integration looks very good.

I have tried to used it but I am getting below error

[code]

I have read the documentation and I have checked that same host is configured in the secret configured in the storage class as well as in the secret that store clients. Here you are.

**StorageClass**

[code]

**StorageClass Secret**

[code]

**Clients secret file**

[

[2022-06-21 08:00] jjdiazgarcia commented on #38
Thanks so much for your quick response @chihyuwu

After removing subdirectory, it started to work. So that was the issue (I have also change _Volume1_ by _volume1_

Is there any plan to support it at any moment?

[2022-06-21 08:46] chihyuwu commented on #38
We don’t have plans for supporting it right now, but we will definitely take into account adding support for it in the future.

[2022-06-21 08:53] jjdiazgarcia commented on #38
Fantastic. Thanks so much.

[2022-06-21 08:53] #38 closed

[2022-06-21 11:11] jjdiazgarcia commented on #30
I am also facing this issue.
I am using latest version of this repository and postgresql is not able to start because owner of nfs is not set properly (although I have setup securityContext and SC properly)

**statefulset definition**
[code]

**Storage class definition**

[code]

These are logs from postgresql when using this configuration
[code]

Anyway, if I change directory to be emptydir (inst

[2022-07-24 20:11] jhueppauff opened #39 "Lable for iscsi volumes"
Hi,

it would be great to have an identifiable name for  SAN/ISCI volumes. Id works, but if a pvc was deleted it is hard to know which volume can be deleted safely. I know it is shown as ready instead of connected. But it would be great to have some way to know what volume is used for what without relying on kubernetes

[2022-08-17 08:12] schoeppi5 commented on #30
Depending on the K8s version you are using, there is a problem with the [*DelegateFSGroupToCSIDriver*](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#delegating-volume-permission-and-ownership-change-to-csi-driver) feature gate. This is enabled by default in starting with K8s 1.23.

Normally, the kubelet is responsible for "fulfilling" the `securityContext` chown and ch

[2022-08-23 06:39] worldofgeese opened #41 "Provide documentation on backups, restore and disaster recovery"
My Synology shows many more "volumes"/LUNs? created using the Synology CSI than I have stateful sets and they are named arbitrarily. The result is a "black box" of storage that I am unable to reason about for purposes of backup and restore or even cleaning up.

It would be helpful if documentation provided clear instructions for backing up and restoring volumes in cases of, for example, cluster fa

[2022-09-05 12:11] newbenji commented on #2
i have it running nicely one 1.24.x and used a modified version of  @christian-schlichtherle helmchart.

[2022-09-06 05:43] schoeppi5 commented on #30
kubelet isn't doing the chown for NFS volumes. You'll have to use an init container for that

[2022-09-06 05:45] schoeppi5 commented on #30
@rblundon Do you have a bit more info? Maybe the storageclass you're using and the podspec

[2022-09-06 15:16] inductor commented on #30
Disabling DelegateFSGroupToCSIDriver worked perfectly for me btw. Thank you so much!

[2022-09-06 16:19] Ryanznoco commented on #30
How to disable DelegateFSGroupToCSIDriver on a existing cluster?

[2022-09-06 16:58] schoeppi5 commented on #30
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

[2022-09-06 23:40] inductor commented on #30
@Ryanznoco Hi, it depends on what Kubernetes distribution you use but you need to look up "feature gate"

[2022-09-07 15:56] Ryanznoco commented on #30
It is not working for me. I added "--feature-gates=DelegateFSGroupToCSIDriver=false" into the api-server manifest, after re-deploy completely, my redis pod still occurs "Permission denied" error. My kubernetes  version is 1.23.10.

[2022-09-07 16:02] schoeppi5 commented on #30
You need to add the Feature Gate to every kubelet config for your cluster, since this is a kubelet gate, not an api server one. Depending on your installation method, there might be an easier way of changing the kubelet config

[2022-09-07 16:48] Ryanznoco commented on #30
Sorry I don't know how to do this. Can I delete the line [csi.NodeServiceCapability_RPC_VOLUME_MOUNT_GROUP,](https://github.com/SynologyOpenSource/synology-csi/blob/917a6d9d5ba930a8df3d2cb41e355406a5140201/pkg/driver/driver.go#L82) in source code and recompile and install csi dirver?

[2022-09-07 17:52] schoeppi5 commented on #30
That would be, like, a lot more work than disabling the feature gate.

**Please read the whole message, before proceeding**

There are a few ways of doing that, manually should work most of the time, other approaches depend on your installation.

## Manually

If you have K8s installed locally, on VMs, or any other way, where your installation isn't managed by a cloud provider, you can:
1. Go to on

[2022-09-08 00:41] rblundon commented on #30
This makes sense, but how would it be accomplished on OpenShift?

[2022-09-08 07:19] schoeppi5 commented on #30
Sorry, I don't have any experience in OpenShift

[2022-09-09 15:51] Ryanznoco commented on #30
@schoeppi5 Thank you for your help. I solved it by modifying the source code. I also tried modifying the kubeadm configmap, but it still doesn't work. Looking forward to the new release with your PR.
@inductor And thank you too.

[2022-09-09 16:48] rblundon commented on #30
@Ryanznoco - I will try reinstalling the CSI driver from your REPO. @inductor - I work for RH, but in sales, not engineering.  Pretty sure this wouldn't get any traction as it looks to be na issue with the Synology Driver not doing what it is advertising t=it is capable of doing.

[2022-09-11 18:27] christian-schlichtherle commented on #8
I'm OK with this, of course - sorry for the very late response.

[2022-09-29 18:22] jrowinski3d opened #42 "Couldn't find any host available to create volume"
Using general defaults for the values and updating my connection strings in the config, l I am receiving this error:

[code]

Thanks for any help!

[2022-09-29 19:33] #42 closed

[2022-09-29 19:34] jrowinski3d commented on #42
Problem was with the `path` I had defined in the StorageClass, as well as the user didn't have the appropriate rights for the connection. My **admin** can connect but my other user cannot. Still looking into which permission determines that

[2022-10-10 10:43] matfiz commented on #39
I totally agree, even a namespace label would be extremely helpful

[2022-10-24 15:47] timnis opened #43 "Nomad integration?"
is this compatible with nomad?

[https://learn.hashicorp.com/tutorials/nomad/stateful-workloads-csi-volumes](https://learn.hashicorp.com/tutorials/nomad/stateful-workloads-csi-volumes)

[2022-11-08 18:16] chrismeyersfsu commented on #26
Will running the uninstall delete my luns that I have in synology?

Even if they aren't deleted, if I have pvc will they "map" back to the existing luns when I re-install ?

[2022-11-10 10:24] chihyuwu commented on #26
Hi, @chrismeyersfsu
1. No, the uninstallation will not delete any PV/PVC as well as user's LUNs or data on DSM.
2. Yes, if you keep the PV in your cluster which refer to the synology LUN, it can automatically "map" (find the LUN by uuid) back to the LUN after re-install CSI.

[2022-11-22 07:08] paraita commented on #31
@worldofgeese but.. but..

[2022-11-26 14:12] mazzy89 commented on #30
Instead of disabling the feature gate wouldn't be more appropriate to implement in this plugin the `VOLUME_GROUP` Node Capability as other csi they do?

[2022-11-26 14:17] mazzy89 commented on #30
The problem here is that this CSI just declare the capability but it does not do anything to actually implement that like for other CSI. See here an example https://github.com/kubernetes-csi/csi-driver-smb/pull/379/files

We should point into the README about this limitation because more and more k8s clusters and bistro implement nowadays Security Context and those days were everything was running

[2022-11-29 05:51] paraita commented on #33
I've also hit that limit on a DS213j. I'll have a look at [democratic-csi](https://github.com/democratic-csi/democratic-csi) but I suppose this is a hardware limitation on my NAS..